// TODO
//  - Add starting animation to simulate ripple effect
//    for dots (from top left to bottom right)
//    (hopefully entices user to click a dot)
// DONE
//  - Replace use of rem padding, etc. with vmin
$bg-color: #FCEFEF;
$dot-color: #F1A66A;
$selected-dot-color: #5C9EAD; // #326273
$line-color: #F1A66A;
$filled-cell-color: #F1A66A;

body, html {
  background-color: $bg-color;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.overview {
  display: flex;
  padding-top: 5vh;
  width: 75vmin;
  
  .status, .player {
    background-color: $line-color;
    color: $bg-color;
    cursor: default;
    font-size: 5vh; // 3rem
    font-weight: bold;
    // height: 5vmin;
    opacity: 0.25;
    padding: 2.5vmin 0; // 16px
    text-align: center;
    transition: opacity 0.5s;
    user-select: none;
    width: 50%;
    
    &.current-player {
      opacity: 1;
    }
  }
  
  .status {
    border-radius: 16px;
    opacity: 1;
    width: 100%;
  }
  
  & > .player:first-child {
    border-radius: 16px 0 0 16px;
  }
  
  & > .player:last-child {
    border-radius: 0 16px 16px 0;
  }
  
//   svg {
//     height: 100%;
    
//     text {
//       fill: $bg-color;
//       font-family: 'Helvetica', 'Arial', sans-serif;
//     }
//   }
}

.dot-graph {
  $line-size: 8fr;
  $dot-size: 1fr;
  display: grid;
  height: 75vmin;
  padding: 5vh;
  width: 75vmin;
}

#game * {
  overflow: hidden;
}

.dot {
  margin-left: -150%;
  margin-top: -150%;
  height: 400%;
  -webkit-tap-highlight-color: transparent;
  transition:
    0.5s transform,
    0.5s background-color;
  width: 400%;
  /* TODO Provide alternative fix for display change when transform comes into play */
  will-change: transform;
  z-index: 1;
  
  & span {
    $dot-size: 50%;
    
    background-color: $dot-color;
    display: block;
    height: $dot-size;
    margin: $dot-size / 2;
    transition:
      0.2s background-color,
      0.2s border-radius,
      0.2s transform;
    width: $dot-size;
    
    &.selected {
      // background-color: $selected-dot-color;
      // transform: rotateZ(45deg);
      transform: scale(2);
    }
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:hover span {
    // background-color: $selected-dot-color;
  }
}

.h-line,
.v-line {
  background-color: $line-color;
  opacity: 0.25;
  transition: 1s opacity, 0.5s transform;
  // transform-origin: top left;
  
  &:hover {
    opacity: 0.75;
  }
  
  &.selected {
    // background-color: black;
    opacity: 1;
  }
}

.v-line {
  transform: scaleY(0);
  
  &.selected {
    transform: scaleY(1);
  }
}

.h-line {
  transform: scaleX(0);
  
  &.selected {
    transform: scaleX(1);
  }
}

.cell {
  align-items: center;
  display: flex;
  // height: 100%;
  font-size: 0;
  justify-content: center;
  line-height: 0;
  opacity: 0.75;
  transition: background-color 1.5s;
  user-select: none;
  
  &.filled-cell {
    background-color: $filled-cell-color;
  }
  
  .player {
    color: $bg-color;
    cursor: default;
    // font-size: 3rem;
    font-size: 0;
    font-weight: bold;
    line-height: 0;
    // height: 100%;

    svg {
      // height: 100%;
      display: inline;
      // float: left;
      margin: 0;
      padding: 0;
      width: 99%;

      text {
        fill: $bg-color;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 16px;
      }
    }
  }
}

