$bg-color: #FCEFEF;
$dot-color: #F1A66A;
$selected-dot-color: #5C9EAD; // #326273
$line-color: #F1A66A;

body, html {
  background-color: $bg-color;
  margin: 0;
  overflow: hidden;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
}

.dot-game {
  $line-size: 8fr;
  $dot-size: 1fr;
  display: grid;
  height: 75vmin;
  margin: 0 auto;
  width: 75vmin;
}

#game * {
  overflow: hidden;
}

.dot {
  margin-left: -150%;
  margin-top: -150%;
  height: 400%;
  transition:
    0.5s transform,
    0.5s background-color;
  width: 400%;
  /* TODO Provide alternative fix for display change when transform comes into play */
  will-change: transform;
  z-index: 1;
  
  & span {
    $dot-size: 50%;
    
    background-color: $dot-color;
    display: block;
    height: $dot-size;
    margin: $dot-size / 2;
    transition:
      0.2s background-color,
      0.2s border-radius,
      0.2s transform;
    width: $dot-size;
    
    &.selected {
      background-color: $selected-dot-color;
      transform: rotateZ(45deg);
    }
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:hover span {
    background-color: $selected-dot-color;
  }
}

.h-line,
.v-line {
  background-color: $line-color;
  opacity: 0.25;
  transition: 1s opacity;
  
  &:hover {
    opacity: 0.75;
  }
}


